<form class="form-horizontal">

    <h4>{{ _('Visibility') }}</h4>
    <div class="accordion-inner">
        <p>
            {{ _('You can define where you want to display the layer- and progress-information and also how the message should be shown.') }}
        </p>
        <p>
            {{ _('Use the following keywords as a placeholder: <code>[progress], [current_layer], [total_layers], [current_height], [total_height]</code>') }}
        </p>

        <div class="control-group">
            <label class="control-label">{{ _('Navigationbar') }}&nbsp;&nbsp;&nbsp;<input type="checkbox"
                                                                                     data-bind="checked: settings.plugins.DisplayLayerProgress.showOnNavBar" /></label>
            <div class="controls">
                <input type="text" class="input-block-level text-left"
                       data-bind="value: settings.plugins.DisplayLayerProgress.navBarMessagePattern" />
            </div>

            <label class="control-label">{{ _('Printer Display') }}&nbsp;&nbsp;&nbsp<input type="checkbox"
                                                                                   data-bind="checked: settings.plugins.DisplayLayerProgress.showOnPrinterDisplay"></label>
            <div class="controls">
                <input type="text" class="input-block-level text-left"
                       data-bind="value: settings.plugins.DisplayLayerProgress.printerDisplayMessagePattern" />
            </div>

            <span class="help-block">
                <br/>
                <font color="red">Before changing the printer message, please make sure that your printer can handle the output. <br/>
                    To test it, send the following message example G-Code (via terminal) to your printer:<br/>
                    <br/>
                    <code>M117 xxx% L=xxx/xxx H=xxx.xx/xxx.xx</code>
                    <br/><br/>
                    !!! Some printers ignores the overlapping characters or special chars (e.g. :) and some <b><i>stops</i></b> working !!!
                </font>
            </span>
        </div>
    </div>

    <h4>{{ _('Display Workaround for ANET E10') }}</h4>
    <div class="accordion-inner">
        <div class="control-group">
            <label class="control-label">{{ _('Add trailing character') }}&nbsp;&nbsp;&nbsp;<input type="checkbox"
                                                                      data-bind="checked: settings.plugins.DisplayLayerProgress.addTrailingChar"></label>
        </div>
        <p>
            {{ _('Use this if your printer display cuts off the last character of the layer message.') }}
        </p>
    </div>

</form>
