<div id="displayLayerProgress_plugin_navbar">
    <p class="nav navbar-text" data-bind="visible: settingsViewModel.settings.plugins.DisplayLayerProgress.showOnNavBar, html: navBarMessage"></p>
</div>
