<div id="displayLayerProgress_plugin_navbar">
    <p class="nav navbar-text" id="dlpNavBarTime-left"></p>
    <p class="nav navbar-text" data-bind="visible: settingsViewModel.settings.plugins.DisplayLayerProgress.showOnNavBar, html: navBarMessage"></p>
    <p class="nav navbar-text" id="dlpNavBarTime-right"></p>

</div>
